MONGO_URI=mongodb+srv://FusionElectronicsWeb:Fusion123@cluster0.iqt5xxm.mongodb.net/?appName=Cluster0
JWT_SECRET=634e216aa1f67ac0bede626d7f40c91ff764bb14eb5444a92393efbbeb5c16df1ec6340a3c831d4495768bbfb7fb7fd131a6070dc02921b4099c17cb959cbe21
WEAVIATE_HOST=lkdvncvssqtvpoevqsaa.c0.eu-central-1.aws.weaviate.cloud
WEAVIATE_API_KEY=QjVXWTVHUGlQN1hrRkJmbF9xL0wrVlZqY1MvTFNySVZWZE40MFNCTTl1RmI3V1FqWTJHVHNPNlhmMktzPV92MjAw
GOOGLE_AI_API_KEY=AQ.Ab8RN6L9Yjm4YsnmS4YjCqwu9xKl41HUtyxOIfk3iJzWsN6JtQ
